img {
	width: 30%;
	height: auto;
	display: block;
	float: left;
	margin: 1.66%;
}

p {
	font-family: "Raleway";
	font-weight: 800;
	font-size: 25px;
	margin-left: 1.66%;
	margin-right: 1.66%;
	padding-bottom: 5px;
	border-bottom: 2px solid rgba(0,0,0,0.2);

}

div {
	text-align: right;
	font-family: "raleway";
	font-size: 8px;
	color: rgba(0,0,0,0.5);
	padding-top: 10px;
	margin-right: 1.66%;
}